/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    transition: all 0.2s ease-in-out ;
}

body{
    background-color: #070707;
}